*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
  background: #eee;
  margin: 20px;
  font-family: tahoma;
}

.social-card {
	min-height: 600px;
	width: 400px;
	margin: 50px auto 50px;
	padding: 5px;
	border: 2px solid #B2B2B2FF;
}